<h1 class="nav" style="background-color:rgb(119, 1, 74); color:rgba(235, 250, 215, 0.966)">
  🇼‌🇪‌🇱‌🇨‌🇴‌🇲‌🇪‌ 🇹‌🇴‌ 🇭‌🇴‌🇸‌🇵‌🇮‌🇹‌🇦‌🇱‌ 🇸‌🇪‌🇷‌🇻‌🇮‌🇨‌🇪‌🇸‌
</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/admin">Admin</a>
  </li>
</ul>
<div class="container">
<img src="https://images.pexels.com/photos/5327585/pexels-photo-5327585.jpeg" style="width:100%">
  <div style="position:absolute;top:60%;left:30%;transform:translate(-50%,-50%);">
    <h3>𝓦𝓮 Provide Total Health care<br /> solution</h3>
  </div>
<div style="position: absolute; top: 80%; left: 30%; transform: translate(-50%, -50%);"><div class="btn-group">
  <a routerLink="/booking-appointment" class="btn btn-primary active" aria-current="page">Book an Appointment</a>
</div></div>
 </div>
